@import './utils/variables';
@import './utils/mixins';
@import './utils/visually-hidden';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/logo';
@import './components/mobile-menu';
@import './components/navigation';
@import './components/header-contacts';
@import './components/active-page';
@import './components/button';
@import './components/social-list';
@import './components/footer-contacts';
@import './components/footer-social-list';
@import './components/footer-form';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';

@import './layout/page-header';
@import './layout/hero';
// @import './layout/advantages';
// @import './layout/specialization';
// @import './layout/team';
// @import './layout/clients';
// @import './layout/page-footer';

// @import './layout/portfolio';
