.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero-footer);
  @include font(400, 14px, 24px);
}

.page-footer .container {
  text-align: center;
}

.container-pos {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
}

.footer-header {
  display: block;
  @include font(700, 14px, 16px);
  text-transform: uppercase;
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.logo--footer {
  color: var(--text-color-secondary);
}

@media screen and (min-width: 768px) {
  .container-pos {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .container {
    display: flex;
    justify-content: space-between;
  }
  .container-pos {
    text-align: start;
    flex-direction: row;
    gap: 70px;
    align-items: baseline;
    justify-content: space-evenly;
    margin-bottom: 0px;
  }
}
