.modal-window {
  width: calc(100% - 30px);
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-window__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: border var(--transition-dur-tim);

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.modal-window__close-icon {
  height: 11px;
  width: 11px;
  transition: fill var(--transition-dur-tim);

  .modal-window__close-button:focus &,
  .modal-window__close-button:hover & {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}
