html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: $fontPrimary;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.basic-header {
  @include font(700, 28px, 33px);
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .basic-header {
    @include font(700, 36px, 42px);
    margin-bottom: 50px;
  }
}
